.chip{
    display: flex;    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    background: #F7E9D1;

    color: #1C539C;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 125% */
    }