.chip-container{
    position: relative;
}

.chip{
    display: flex;    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    background: #F7E9D1;

    color: #1C539C;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 125% */

    opacity: 0.5;

    cursor: pointer;
    }

    .chip.active{
        opacity: 1;
    }

    .chip.hovered{
        opacity: 0.8;
    }

    .chip.active.hovered{
        opacity: 1;
    }