body {
  height: 100%;
  margin-top: 0px;
  width: 100%;
}

p{
  margin: 0;
}

h1{
  margin: 0;

  color: #EEF4FC;
  font-family: "Bebas Neue";
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 8rem; /* 106.667% */
  }

.hero-section{
  background-color: #143C71;
  background-image: url(./assets/background-lines.svg);
}

.hero-section--container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100rem;

  margin: 0 auto;

  justify-content: space-between;
}

.hero-section--upper-row{
  display: flex;
  flex-direction: row;
  height: fit-content;
  max-width: 100%;
  justify-content: space-between;
  height: 40%;
  margin: 0;


  padding: 2rem ;
}

.hero-section--subtitle{
  max-width: 28rem;

  color: #EEF4FC;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
}

.hero-section--scroll-down{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  justify-content: center;
  align-items: center;
}

.hero-section--scroll-down span{
  transform: rotate(-90deg);

  color: #EEF4FC;

  /* paragraph/md */
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  text-transform: uppercase;
}

.hero-section--upper-row--icon-container {
  display: inline-flex;
  width: 3rem;
  height: 4.5rem;
  flex-shrink: 0;
  justify-content: center;

  border-radius: 6.25rem;
  background: #EEF4FC;
}

.hero-section--lower-row{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  height: 100%;

  justify-content: space-between;
  align-items: flex-end;

  margin: 0;

  padding: 2rem;
}

.hero-section--title{
  max-width: 56.5rem;
  height: max-content;
  display: flex;
  align-items: flex-end;
}

.hero-section--newsRoom{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  place-self: flex-start;
}

.hero-section--chip{
  display:inline-block;
  border-radius: 21.875rem;
  background: var(--surface-primary, #EEF4FC);
  padding: 0.875rem;
  line-height: 0;
}

.hero-section--chip img{
  height: 3.5rem;
  width: auto;
}



.ratio-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--surface-page, #EEF4FC);

}

.ratio-section h2{
  margin: 0;

  color: var(--text-headings, #143C71);
  text-align: center;

  /* title/lg */
  font-family: "Bebas Neue";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.5rem; /* 122.222% */
}

.ratio-section--chip-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.ratio-section img{
  height: 15rem;
  width: auto;
  align-items: center;
}

.ratio-section--description{
  display: flex;
  align-items: center;
}

.ratio-section--description h4 {
  color: var(--text-headings, #143C71);
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 120% */
}

.ratio-section--description span {
  color: var(--text-headings, #143C71);
  font-family: "Bebas Neue";
  font-size: 25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25rem; /* 100% */
}